<p>Peace, <%= @user.first_name %>!</p>

<p>Please confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', render "devise/mailer/confirmation_instructions.html.erb", :confirmation_token => @resource.confirmation_token) %></p>

<p>Glad tidings!</p>
